* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: rgb(242, 238, 238);
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 64px;
  background-color: white;
  color: rgb(23, 113, 216);
}
nav .logo {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  font-size: 34px;
  margin-left: 12px;
  font-weight: 600;
}
nav .profile-signout-btn {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}
nav .profile-signout-btn .nav-profile {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}
.showSignOut h3 {
  margin-top: -25px;
}

.close {
  color: black;
  font-size: 25px;
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.signOut {
  width: 30%;
  height: 34px;
  font-size: 1rem;
  font-weight: 400;
  margin: 2.5%;
  font-weight: 500;
  border: none;
  transition: 0.25s;
  border-radius: 3px;
  background-color: transparent;
  box-shadow: 0.4rem 0.4rem 1rem #ccc, -0.4rem -0.4rem 1rem #fff;
}
.signOut:hover {
  color: rgb(23, 113, 216);
  background-color: transparent;
  box-shadow: 0.4rem 0.4rem 1rem #ccc, -0.4rem -0.4rem 1rem #fff;
  box-shadow: 0.4rem 0.4rem 1rem #e9e9e9 inset, -0.4rem -0.4rem 1rem #fff inset;
}

.container {
  /* margin-top: 1.0%; */
  width: 100%;
  height: 100%;
  background-position: center;
  /* padding: 7px; */
  display: flex;
  flex-direction: column;
  background-color: rgb(242, 238, 238);
}

/* Section */
.text-with-photo {
  width: 100%;
  flex-direction: row;
}

/* Section */
.wraper {
  display: flex;
  min-width: 40%;
  max-width: 80%;
  margin-bottom: 1%;
  align-items: start;
}

.wraper-sent {
  float: right;
  display: flex;
  flex-direction: row-reverse;
  align-items: end;
}

.wraper .recived {
  float: left;
}

.sent {
  width: auto;
  min-width: 40%;
  max-width: 80%;
  width: calc(100% - 50px);
  word-break: keep-all;
  word-wrap: break-word;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-color: rgb(23, 113, 216);
  color: white;
  margin: 0.5%;

  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  float: right !important;
  padding: 2.5%;
  border-bottom-right-radius: 0px !important;
}

.recived {
  width: auto;
  min-width: 40%;
  max-width: 80%;
  word-break: break-all;
  word-wrap: break-word;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-color: white;
  color: black;
  margin: 0.5%;
  border-top-right-radius: 7px;
  border-top-left-radius: 0px !important;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  float: left;
  padding: 2%;
}

.sent .display-name {
  font-size: 18px;
  font-weight: 600;
  color: white;
}

.recived .display-name {
  font-size: 18px;
  font-weight: 600;
  color: rgb(23, 113, 216);
}

img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0.5%;
}

form {
  margin-top: 2.5%;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 7vh;
  display: flex;
  flex-direction: row;
  background-color: transparent;
}

input {
  height: auto;
  width: 85%;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  border: none;
  border-radius: 3px;
  padding: 10px;
}
.msg-field-light
{
    background: white;
    color: black;
}
.msg-field-dark
{
    background: #333;
    color: white;
}
.msg-field-dark::placeholder
{
    color: #acacac;
}
.send-button-light, .send-button-dark {
    width: 15%;
    background: transparent;
    border: none;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer
}
.send-button-light{
    background: white;
    color: black;
}
.send-button-dark
{
    color: white;
    background: #048500;
}

.scroll {
  margin-top: calc(15% + 50px);
}
p {
  font-size: 18px;
}

@media only screen and (min-width: 800px) {
  p {
    font-size: 18px;
  }
  .signOut {
    width: 15%;
    height: 34px;
    font-size: 1rem;
    font-weight: 400;
    margin: 2.5%;
    font-weight: 500;
    border: none;

    background-color: transparent;
    box-shadow: 0.4rem 0.4rem 1rem #ccc, -0.4rem -0.4rem 1rem #fff;
  }
  .signOut:hover {
    color: rgb(23, 113, 216);
    background-color: transparent;
    box-shadow: 0.4rem 0.4rem 1rem #ccc, -0.4rem -0.4rem 1rem #fff;
    box-shadow: 0.4rem 0.4rem 1rem #e9e9e9 inset,
      -0.4rem -0.4rem 1rem #fff inset;
  }

  .container {
    width: 100%;
    height: 100%;
    background-position: center;
    padding: 7px;
    display: flex;
    flex-direction: column;
    background-color: rgb(242, 238, 238);
  }

  /* Section */
  .text-with-photo {
    width: 100%;
    flex-direction: row;
  }

  /* Section */
  .wraper {
    display: flex;
    min-width: 40%;
    max-width: 80%;
    margin-bottom: 1%;
    align-items: start;
  }

  .wraper-sent {
    float: right;
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
  }

  .wraper .recived {
    float: left;
  }

  .sent {
    width: auto;
    min-width: 40%;
    max-width: 80%;
    width: calc(100% - 50px);
    word-break: keep-all;
    word-wrap: break-word;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: rgb(23, 113, 216);
    color: white;
    margin: 0.5%;

    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    float: right !important;
    padding: 2.5%;
    border-bottom-right-radius: 0px !important;
  }

  .recived {
    min-width: 80%;
    max-width: 80%;
    word-break: keep-all;
    word-wrap: break-word;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: white;
    color: black;
    margin: 0.5%;
    border-top-right-radius: 7px;
    border-top-left-radius: 0px !important;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    float: left;
    padding: 2%;
    font-size: 14px;
  }

  .sent .display-name {
    font-size: 1rem;
    font-weight: 600;
    color: white;
  }

  .recived .display-name {
    font-size: 1rem;
    font-weight: 600;
    color: rgb(23, 113, 216);
  }

  img {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    margin: 0.5%;
  }

  form {
    margin-top: 2.5%;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: transparent;
  }

  input {
    height: auto;
    width: 85%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border: none;
    border-radius: 3px;
    padding: 10px;
  }

  .send-button {
    width: 15%;
    background: transparent;
    border: none;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: white;
    border-radius: 3px;
  }

  .scroll {
    margin-top: 80px;
  }
}

@media only screen and (max-width: 600px) {

  .container {
    padding-top: -4.5%;
    height: 100%;
  }

  .sent {
    width: auto;
    min-width: 40%;
    max-width: 80%;
    width: calc(100% - 50px);
    word-break: keep-all;
    word-wrap: break-word;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: rgb(23, 113, 216);
    color: white;
    margin: 0.5%;

    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    float: right !important;
    padding: 2.5%;
    border-bottom-right-radius: 0px !important;
  }

  .recived {
    width: auto;
    max-width: 80% !important;
    word-break: keep-all;
    word-wrap: break-word;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: white;
    color: black;
    margin: 0.5%;
    border-top-right-radius: 7px;
    border-top-left-radius: 0px !important;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    float: left;
    padding: 2%;
  }

  p {
    align-items: flex-start;
    margin: 1%;
    /* font-size: 1.2rem; */
    font-size: 14px;
    font-weight: 400;
    word-wrap: break-word;
  }

  .sent .display-name {
    font-size: 0.8rem;
    font-weight: 600;
    color: white;
  }

  .recived .display-name {
    font-size: 0.8rem;
    font-weight: 600;
    color: rgb(23, 113, 216);
  }

  form {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    background-color: transparent;
  }

  .scroll {
    margin-top: 50px;
  }
  .signOut {
    width: 30%;
  }
}