* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: inherit;
}

nav {
  transition: 1s;
}

.navbar-light {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 10vh;
}

.navbar-dark {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 10vh;
}

.navbar-light .logo,
.navbar-dark .logo {
  width: 15%;
  height: 100%;
  font-size: 34px;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.navbar-light .theme-profile-signout {
  width: 75%;
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

.navbar-dark .theme-profile-signout {
  width: 75%;
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  color: #ffffff;
}

.navbar-dark .signOut {
  color: white;
  border: 1px solid white;
}

.navbar-light .theme-changer-light,
.navbar-dark .theme-changer-dark {
  width: 15%;
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navbar-light {
  background-color: white;
  color: rgb(33, 150, 243);
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
.navbar-dark {
  background-color: #1f1f1f;
  color: #ffffff;
  box-shadow: 0 2.8px 2.2px rgba(90, 90, 90, 0.034),
    0 6.7px 5.3px rgba(90, 90, 90, 0.048), 0 12.5px 10px rgba(90, 90, 90, 0.06),
    0 22.3px 17.9px rgba(90, 90, 90, 0.072),
    0 41.8px 33.4px rgba(90, 90, 90, 0.086), 0 100px 80px rgba(90, 90, 90, 0.12);
}
.theme-changer-dark {
  color: white;
  font-size: 2rem;
  cursor: pointer;
}
.theme-changer-light {
  color: black;
  font-size: 2rem;
  cursor: pointer;
}
.navbar-dark .logo {
  color: #1596ff;
  font-size: 1.5rem;
  font-weight: 800;
  width: 15%;
  /* margin: 2.5rem; */
}

.profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 2.5rem;
  align-items: center;
}

.navbar-dark .theme-changer-dark-button-signout,
.navbar-light .theme-changer-light-button-signout {
  width: 25%;
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-light,
.container-dark {
  width: 100%;
  height: 100%;
  background-position: center;
  padding: 7px;
  display: flex;
  flex-direction: column;
}
.container-light {
  background-color: rgb(242, 238, 238);
}
.container-dark {
  background-color: #1f1f1f;
}
/* Section */
.text-with-photo {
  width: 100%;
  flex-direction: row;
}

/* Section */
.wraper {
  display: flex;
  min-width: 40%;
  max-width: 80%;
  margin-bottom: 1%;
  align-items: center;
}

.wraper-sent {
  float: right;
  flex-direction: row-reverse;
}

.wraper .recived {
  float: left;
}

.sent-light,
.sent-dark {
  width: auto;
  min-width: 40%;
  max-width: 80%;
  width: calc(100% - 50px);
  word-break: keep-all;
  word-wrap: break-word;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 0.5%;
  border-radius: 10px;
  float: right !important;
  padding: 2%;
}
.sent-light {
  background-color: #1771d8;
  color: white;
}
.sent-dark {
  color: white;
  background: #2987f3;
}

.received-light,
.received-dark {
  width: auto;
  min-width: 40%;
  max-width: 80%;
  word-break: break-all;
  word-wrap: break-word;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 0.5%;
  border-radius: 10px;
  float: left;
  padding: 2%;
}
.received-light {
  background-color: white;
  color: black;
}
.received-dark {
  color: white;
  background: #313131;
}

.sent-dark .display-name,
.sent-light .display-name {
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
}

.received-dark .display-name,
.received-light .display-name {
  font-size: 1.2rem;
  font-weight: 600;
}
.received-dark .display-name {
  color: #70b3ff;
}
.received-light .display-name {
  color: #1771d8;
}

img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0.5%;
}

form {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 64px;
  display: flex;
  flex-direction: row;
  background-color: transparent;
}

input {
  height: auto;
  width: 85%;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  border: none;
  border-radius: 3px;
  padding: 10px;
}

.send-button {
  width: 15%;
  background: transparent;
  border: none;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: white;
  border-radius: 3px;
}

/* .scroll {
    margin-top: 80px;
} */

@media only screen and (max-width: 800px) {
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 10vh;
    background-color: white;
    color: rgb(23, 113, 216);
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12);
  }
  .container {
    width: 100%;
    height: 100%;
    background-position: center;
    padding: 7px;
    display: flex;
    flex-direction: column;
    background-color: rgb(242, 238, 238);
  }
  .logo {
    font-size: 1.5rem;
    font-weight: 800;
    width: 80%;
    margin: 2.5rem;
  }

  .profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 2.5rem;
    align-items: center;
  }

  .showSignOut {
    width: 300px;
    height: 250px;
    background-color: gray;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    right: 2rem;
    top: 4rem;
  }

  .close {
    color: black;
    font-size: 25px;
    position: absolute;
    right: 1rem;
    top: 1rem;
  }

  .signOut {
    font-size: 1.5rem;
    font-weight: 800;
    margin: 1.2rem;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 1.3%;
    border: 1px black solid;
    border-radius: 3px;
    max-width: 50%;
    padding: 5px;
    align-self: center;
    background-color: transparent;
  }

  .container {
    width: 100%;
    height: 100%;
    background-position: center;
    padding: 7px;
    display: flex;
    flex-direction: column;
    /* background-color: rgb(242, 238, 238); */
    background: transparent;
  }

  /* Section */
  .text-with-photo {
    width: 100%;
    flex-direction: row;
  }

  /* Section */
  .wraper {
    display: flex;
    min-width: 40%;
    max-width: 80%;
    margin-bottom: 1%;
    align-items: center;
  }

  .wraper-sent {
    float: right;
    flex-direction: row-reverse;
  }

  .wraper .recived {
    float: left;
  }

  .sent {
    word-wrap: break-word;
    min-width: 40%;
    max-width: 80%;
    width: calc(100% - 50px);
    word-break: keep-all;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: rgb(23, 113, 216);
    color: white;
    margin: 0.5%;
    border-radius: 10px;
    float: right !important;
    padding: 2%;
  }

  .recived {
    min-width: 40%;
    max-width: 80%;
    word-break: break-all;
    word-wrap: break-word !important;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: white;
    color: black;
    margin: 0.5%;
    border-radius: 10px;
    float: left;
    padding: 2%;
  }

  .sent .display-name {
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
  }

  .recived .display-name {
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(23, 113, 216);
  }

  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0.5%;
  }

  form {
    margin-top: 0%;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    background-color: transparent;
  }

  input {
    height: auto;
    width: 85%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border: none;
    border-radius: 3px;
    padding: 10px;
  }

  .send-button {
    width: 15%;
    background: transparent;
    border: none;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: white;
    border-radius: 3px;
  }

  /* .scroll {
    margin-top: 80px;
} */
}

.lower-gap-light {
  background: rgb(242, 238, 238);
}

.lower-gap-dark {
  background: #1f1f1f;
}

/* @media only screen and (max-width: 600px) {

    .profile {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
    }

    .showSignOut {
        width: 300px;
        height: 200px;
        background-color: white;
        box-shadow:
            0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048),
            0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072),
            0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(0, 0, 0, 0.12);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        right: 2.0rem;
        top: 4.0rem;
    }

    .showSignOut h3 {
        margin-top: -4%;
    }

    .container {
        padding-top: -4.5%;
        height: 100%;
    }

    .sent {
        min-width: 80%;
        word-break: keep-all;
        word-wrap: break-word;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        background-color: rgb(23, 113, 216);
        color: white;
        margin: 0.5%;
        border-radius: 10px;
        float: right !important;
        padding: 2%;
    }

    .recived {
        width: auto;
        max-width: 80% !important;
        word-break: keep-all;
        word-wrap: break-word;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        background-color: white;
        color: black;
        margin: 0.5%;
        border-radius: 10px;
        float: left;
        padding: 2%;
    }

    p {
        align-items: flex-start;
        margin: 1%;
        font-size: 1.2rem;
        font-weight: 400;
        word-wrap: break-word;
    }


    .sent .display-name {
        font-size: 1.2rem;
        font-weight: 600;
        color: white;
    }

    .recived .display-name {
        font-size: 1.2rem;
        font-weight: 600;
        color: rgb(23, 113, 216);
    }

    form {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 50px;
        display: flex;
        flex-direction: row;
        background-color: transparent;
    }

    .scroll {
        margin-top: 40px;
    }
} */

@media only screen and (max-width: 600px) {
  nav .profile {
    display: none;
  }
  .navbar-light .logo,
  .navbar-dark .logo {
    width: 15%;
    height: 100%;
    font-size: 24px;
    font-weight: 600;
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
  .navbar-light .theme-profile-signout {
    display: flex;
    justify-content: end;
  }
  .navbar-dark .theme-profile-signout {
    display: flex;
    justify-content: end;
  }
  .navbar-dark .theme-changer-dark-button-signout,
  .navbar-light .theme-changer-light-button-signout {
    width: 80%;
    height: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar-dark .signOut,
  .navbar-light .signOut {
    width: 100%;
    font-size: 14.4px;
  }
  .navbar-light .theme-profile-signout {
    width: 60%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
  }

  .navbar-dark .theme-profile-signout {
    width: 60%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    color: #ffffff;
  }
  .navbar-dark .theme-changer-dark {
    width: 20%;
  }
  .navbar-light .theme-changer-light {
    width: 20%;
  }
}
